<!-- member-form.vtl -->

<h1>New Team Member</h1>
<p>Add a team member:</p>
<form action="/teams/$team.getId()/members" method="post">
  <label for="name">Team Member Name</label>
  <input id="name" name="name" type="text">
  <button type="submit" class="btn btn-success">Add Team Member</button>
</form>
<a href="/teams/$team.getId()">Return to Team Members List</a>

<!-- member-form.vtl -->
