<!-- team.vtl -->
<h1>$team.getName()</h1>

#if ($team.getMembers().size() > 0)
  <p>Team Member List:</p>
  <ul>
  #foreach ($member in $team.getMembers())
    <li>$member.getName()</li>
  #end
  </ul>
#else
  <p>$team.getName() has no team members, currently!</p>
#end

<a href="/teams/$team.getId()/members/new">Add New Team Member</a>
<!-- team.vtl -->
